@use "variables" as *;

.game {
    min-height: 100vh;
    padding: 24px 80px;
    background: $color-background;
    color: $color-text;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 170px;
    }

    &__scores {
        display: flex;
        gap: 20px;
        padding: 17px 20px;
        background: rgba(#86e9d6, 0.2);
        font-family: "Red Rose", sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

    &__score {
        display: flex;
        align-items: center;
        gap: 6px;

        &--blue {
            color: #2bb1ff;
        }

        &--orange {
            color: #f58e39;
        }
    }

    &__current-player {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: "Red Rose", sans-serif;
        font-size: 26px;
        font-weight: 400;
    }

    &__exit-button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 16px 24px;
        border: 1px solid #4fd9bb;
        background: #3f5754;
        color: $color-text;
        cursor: pointer;
        font-family: "Red Rose", sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

        &__board {
        display: grid;
        justify-content: center;
        gap: 16px;
        margin-top: 40px;

        &--small {
            grid-template-columns: repeat(4, 120px);
        }

        &--medium,
        &--large {
            grid-template-columns: repeat(6, 120px);
        }

        &--code-vibes {
            --match-color: #4dd5bc;
        }

        &--gaming {
            --match-color: #ed1b764d;
        }

        &--da-projects {
            --match-color: #1e7594;
        }

        &--foods {
            --match-color: #f3832d;
        }
    }

    &__card {
        aspect-ratio: 1;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        perspective: 800px;
    }

    &__card-inner {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
    }

    &__card--flipped &__card-inner {
        transform: rotateY(180deg);
    }

    &__card-back,
    &__card-front {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    &__card-front {
        transform: rotateY(180deg);
    }

    &__card--matched &__card-front {
        outline: 4px solid var(--match-color);
        outline-offset: -4px;
    }
}